.Rproj.user
not-used-yet
inst/doc
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.fst
data-raw/TTS16-data-inputs/Travel-Time-Calculations/df/output_ttm/.metadata/meta.json
data-raw/TTS16-data-inputs/Travel-Time-Calculations/inputs/job_destinations.Rdata
data-raw/TTS16-data-inputs/Travel-Time-Calculations/inputs/work_origins.Rdata
data-raw/TTS16-data-inputs/Travel-Time-Calculations/r5_graph/network.dat
data-raw/TTS16-data-inputs/Travel-Time-Calculations/r5_graph/osm.pbf
data-raw/TTS16-data-inputs/Travel-Time-Calculations/r5_graph/osm.pbf.mapdb
data-raw/TTS16-data-inputs/Travel-Time-Calculations/r5_graph/osm.pbf.mapdb.p
data-raw/TTS16-data-inputs/Travel-Time-Calculations/results/output_OD_car1.Rdata
data-raw/TTS16-data-inputs/Travel-Time-Calculations/df/Orig/.metadata/meta.json
/doc/
/Meta/
docs
